@font-face('aBeeZee','https://fonts.googleapis.com/css?family=ABeeZee')
@font-face 
  font-family: 'Mandatory'
  src: url('/statics/fonts/Mandatory.otf') format("opentype")


.none
  margin: 0
  padding: 0